
// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Icon Font
@import "node_modules/font-awesome/scss/font-awesome";

// Theme
@import "components/Theme";

.table {
  overflow-y: auto;
  white-space: nowrap;
}

.table-responsive {
  white-space: nowrap;
}

.btn-absolute {
  top: 15px;
  right: 15px;
  position: absolute;
}

.glasses {
  margin: 10em 0 !important;
  text-shadow: -0.3em 0 red,  0.3em 0 cyan !important; /* This creates the 3D effect, pretty easy, eh? */
  letter-spacing: 0.5em !important; /* make sure the letters don't overlap */
}

.glasses li:after {
  right: -36px !important;
  font-size: 9em !important;
}

.portrait {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.harvest-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

@media (min-width: 40em) {
  .harvest-body {
    padding-left: 0;
  }
}