
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Icon Font
@import "node_modules/font-awesome/scss/font-awesome";

// Theme
@import "components/Theme";

.table-responsive {
  white-space: nowrap;
}

.harvest-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

@media (min-width: 40em) {
     .harvest-body {
      padding-left: 0;
    }
}