
// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Icon Font
@import "node_modules/font-awesome/scss/font-awesome";

// Theme
@import "components/Theme";

.table {
  overflow-y: auto;
  white-space: nowrap;
}

.table-responsive {
  white-space: nowrap;
}

.btn-absolute {
  top: 15px;
  right: 15px;
  position: absolute;
}

.glasses {
  text-align: center;
  color: transparent;
  margin: 10em 0 !important;
  text-shadow: -0.3em 0 rgba(255, 0, 0, 0.5),  0.3em 0 rgba(0, 255, 255, 0.5) !important;
  letter-spacing: 0.4em !important;
}

.glasses .text {
  text-shadow: -0.06em 0 rgba(255, 0, 0, 0.5),  0.06em 0 rgba(0, 255, 255, 0.5) !important;
  letter-spacing: 0.08em !important;
}

.glasses li {
  vertical-align: middle;
 }

.glasses li:after {
  right: -35px !important;
  font-size: 9em !important;
}

.glasses .digit {
  font-size: 10em !important;
  vertical-align: middle;
  line-height: 1.5em !important;
  transition: font-size 2s cubic-bezier(0, 1, 0, 1);
}

.glasses .digit:hover {
  font-size: 15em !important; /* This adds a hover effect */
  line-height: 1em !important;
  transition: font-size .2s cubic-bezier(0, 0.75, 0, 1);
}

.glasses .text:active,
.glasses .digit:active {
  color: #212529;
  text-shadow: none !important;
}

.glasses .text::selection,
.glasses .digit::selection {
  background-color: red !important;
}

.landscape {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.harvest-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

@media (min-width: 40em) {
  .harvest-body {
    padding-left: 0;
  }
}